{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2>{{ title }}:</h2>
    <p>
    Air Plaza — это первый батут зал в городе Пскове, предлагающий уникальную тренировочную базу
    для всех желающих овладеть искусством полета, отработать новые элементы и улучшить свои
    навыки в области экстремальных видов спорта и акробатики!<br />
    В вашем распоряжение:<br />
    — 2 батутные арены, состоящих из 2 поролоновых ям и 12 батутов;<br />
    — Фал для вейкбордистов;<br />
    — Акробатические высоты;<br />
    — Баскетбольное кольцо для любитлей Слэм-данка;<br />
    — Разминочная зона;<br />
    — Множество матов для отработки любых трюков;<br />
    — Сноубордическая доска для любителей экстрима;<br />
    — Баланс борды;<br />
    — Бесплатный WI-FI;<br />
    — Дружелюбный и весёлый персонал.<br />
    Мы работаем каждый день с 10:00 до 23:00
    </p>
</div>
{% endblock %}
