{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<div class="jumbotron">
    <h3>Ваши записи:</h3>
    {% for post in posts %}
        {% if post.rauthor == request.user %}
            <hr />
            <h4>Имя: {{ post.rname }}</h4>
            <h4>Номер телефона: {{ post.rnumber }} E-mail: {{ post.remail }}</h4>
            <h4>Дата: {{ post.rdate }} Время: {{ post.rtime }}</h4>
            <h4>Количество человек: {{ post.rcount }}</h4>
            <h4>Статус записи: {% if post.ready == '1' %} Подтвержден {% elif post.ready == '2' %} Отказано {% else %} В рассмотрении{% endif %}</h4>
            <a href="{% url 'delregister' did=post.id %}" class="btn btn-primary btn-large">Удалить запись</a>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
